.gradle
build/
gradle
gradlew
gradlew.bat

#Netbeans
.nb-gradle-properties
.nb-gradle/

#Eclipse
.project
.settings
.classpath
bin

#Intellij
.idea
*.iml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
